<section class="listwrap">
   <section id="listpg">
      <h6>partial: <span>{{page}}</span></h6>
   </section>      
   <div class="main">
      <div class="userlist" ng-repeat="user in users">
         <div class="user cf">
            <img ng-src="images/{{user.imagepath}}.png" />
            <div class="info">
               <h2>{{user.name}}</h2>
               <h3>{{user.school}}</h3>
               <p>{{user["he said what"]}}</p>
            </div><!--/. endof .user -->
            <a class="userlink" href="#!/details/{{users.indexOf(user)}}">Come again?</a>
         </div>
      </div>
      <!--/. endof .userlist -->
   </div>
   <!--/. endof .main -->
</section>


