.wrapper {
   width:980px;
   margin:0 auto;
   background:#eff0f0;
}

header {
   background: gray;
   padding:15px;
}

.main {
   margin-top:1em;
   min-height:550px;
}

.user {
   padding:10px;
}

/* users list */

.listwrap {
   margin:0 20px;
}

.userlist {
  background: #EEE8D5;
  width: 100%;
  min-width: 300px;
  margin:0 auto;
  display:inline-block;
  border-radius: 0 0 20px 20px;
  -webkit-transition:all .3s ease-out;
  -o-transition:all .3s ease-out;
  -ms-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.userlist ul {
  margin: 0;
  padding: 0;
  background: #FDF6E3;
}

.userlist li {
  margin: 0;
  padding: 10px 10px 0 10px;
  border-bottom: 1px dotted black;
}

.userlist a {
  display: block;
  text-decoration: none;
}

.userlist li:hover {
  background: #FDF6E3;
}

/*.userlist:hover {
  opacity:1;
  transform:scale(1.2);
}*/

.user img {
  display: block;
  width: 90px;
  
}

.user info {
  display: block;
  float: left;
  padding-left: 120px !important;
}

.user:last-child {
  border-bottom:none;
}

.userinfo {
  font-size: 1.1em;
  line-height: 160%;
  background: #EEE8D5;
  color: #0F4150;
  width: 90%;
  min-width: 320px;
  max-width: 620px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 30px;
  border-radius: 10px;
  
 
  
}


.userinfo h1{
  font-size: 1.8em;
  margin-bottom: 0;
}

.userinfo img {
  width: 40%;
  max-width: 130px;
  border-radius: 20px;
}

.userinfo .btn {

}

.fr {
  float:right;
  width:60%;  
}

.userinfo img.imgfr {
  width:50%;
  max-width:175px;
}

.info.fr h2 {
  margin-top:.5em;
}



.info h2 {
   margin:.25em 0;
   display:inline-block;
}

#listpg {
   border: 1px solid #e3c5b0;
   background-color: #eee8d6;
   width: 16%;
   border-radius: 4px;
   text-align: center;
   
}

#listpg a {
   text-decoration: none;
   background: #fff;
   padding: 3px 15px;
   border: 1px solid #d0c6a9;
   border-radius: 4px;
   margin-bottom: 5px;
   display: inline-block;
   box-shadow: 0px 1px 0px 0px #cac3b0;
   color: palevioletred;
}

#listpg a:before {
   content:'« ';
   font-size:22px;
   margin-right:3px;
   
}




#listpg h6 {
   color:#be4021;
   text-transform: capitalize;
   padding:3px 5px;
   letter-spacing: 1px;
   
}

#listpg h6 span {
  color:#333;
}

a.userlink {
   background: white;
   width: 90px;
   text-align: center;
   box-shadow: 0px 1px 1px 1px rgb(128, 128, 126);
   border-radius: 4px;
   padding: 5px 7px;
   
}

.arrows {
   width:8%;
   margin:0 auto;
   padding: 0 5px;
}


userinfo.ng-enter.ng-active,
userinfo.ng-leave {
   opacity:1;
   height:80px;
   overflow:hidden;
}

/* maincontent */
.maincontent {
  margin:2em 0;
}

