
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html {
  background-color: #fafafa; 
  min-height: 100%;
  height: auto;
}

body  {
  font-family: Merriweather, serif;
  font-size: 1em;
  line-height: 160%;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
  font-weight: normal;
  color: #475b62;
  text-shadow: 1px 1px rgb(255,255,255, 1);
}

a {
  color: #145266;
  font-family: Bree Serif, serif;
}

h1{
  color: #145266;
  font-size: 2.2em;
  line-height: 100%;
  margin-bottom: 10px;
}

h2{ 
  font-size: 1.5rem;
  line-height: 90%;
  color: #c61c6f;
}

h3{ 
  color:#333;
  font-style:italic;
  text-transform:capitalize;
  font-size:1.25em;
}

p {
  line-height: 1.3em;
  color: #475B62;
  margin-bottom: 10px;
  font-family: 'Merriweather';
}

a.small {
  line-height: 100%;
  font-size: .9rem;
}


/* Search Styles */

.search {
  color: #EEE8D5;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px 30px;
  border: 1px solid #dccea0;
  box-shadow: inset 0 0 2px #c9c1a7;
}

.search h1 {
  color: #EEE8D5;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #5b5353;
    color: #FCF4DC;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

.btn .btn-left {
  float: left;
}

.btn .btn-right {
  float: right;
}

.btn:hover {
    background: #be4936;
}

label.btn {
  padding: 3px 15px;
  margin-right: 5px;
  letter-spacing: 1px;
  width:60px;
}

input.search {
  color: #808080;
  margin: 0 auto;
  border-radius: 4px;
  padding: 7px 24px;
  border: 1px solid #dccea0;
  margin: 5px 5px 5px 7px;
  font-size:14px;
}





footer {
  margin-top:7em;
  
}

footer p {
  margin: 0;
  color: #fff;
  padding: 0 15px;
}

footer.mainfooter {
  height: 96px;
  background-color: #333;
  color: #fff;
  padding: 1em 3em;
}






